<!-- base-side-menu.html -->
{% load staticfiles %}

<div class="row">
	<div class="col-md-12" style="">
		            					
		{#<p><a href="{% url 'page_view' 13 %}" class="btn btn-lg btn-block bg-llt-gray">Announcements</a></p> #}
		<ul class="list-unstyled">			
			<li><a href="{% url 'page_slug_view' 'submit-manuscript' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 4 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Submit a Manuscript</a></li>
			
			<li><a href="{% url 'page_slug_view' 'submission-guidelines' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 5 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Submission Guidelines</a></li>

			<li><a href="{% url 'page_slug_view' 'research-guidelines' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 6 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Research Guidelines</a></li>
						

		</ul>
		<ul class="list-unstyled">
			<li><a href="{% url 'page_slug_view' 'permissions' %}" class="btn btn-md btn-link static_a_display">{% if curr_page == 7 %}<i class="fa fa-circle lt-gray"></i>{% endif %} Permissions</a></li>	
		</ul>
		<p><a href="{% url 'page_slug_view' 'contribute' %}" class="btn btn-sm btn-block bg-llt-gray">Donate</a></p>

		<p style="font-size: .8em; background-color: #f5f5f5; padding: 0.5em">Second Language Research and Practice is published on behalf of the <a href="http://aausc.org/" target="_blank">American Association of University Supervisors and Coordinators of Language Programs (AAUSC)</a> and by the <a href="https://nflrc.hawaii.edu/" target="_blank">National Foreign Language Resource Center (NFLRC)</a> at the University of Hawai'i at Mānoa.</p>

		<p style="font-size: .8em; background-color: #f5f5f5; padding: 0.5em">Financial support is also provided by the Center for Advanced Research on Language Acquisition (CARLA) at the University of Minnesota; The Center for Educational Resources in Culture, Language and Literacy (CERCLL) at the University of Arizona; The Center for Open Educational Resources and Language Learning (COERLL) at the University of Texas at Austin;; and the Second Language Teaching and Resource Center (L2TReC) at the University of Utah.</p>
	</div>
</div>

{% if cur_page == 4%}<i class="fa fa-circle text-info"></i>{% endif %}