<!-- item_view.html -->
{% extends 'base.html' %}

{% block page_header %}
<h4><i class="fa fa-caret-left"></i> <a href="{% url 'collection' object.hdr_setSpec.pk %}" class="static_a_display">{{ object.hdr_setSpec }}</a></h4>
{% endblock page_header %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<h3><span><sup class="badge badge-default">{{item_data.type.0}}</sup></span> {{ object }}</h3>
		
		<dl>
			<dt class="metadata">Author{{ item_data.author|pluralize }}</dt><dd>{% for i in item_data.author %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Volume</dt><dd>{{ object.hdr_setSpec }}</dd>
			<dt class="metadata">Date Issued</dt><dd>{% for i in item_data.issued %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			<dt class="metadata">Keywords</dt><dd>{% for i in item_data.subject %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dt></dd>
			<dt class="metadata">Publisher</dt><dd>{% for i in item_data.publisher %}{{ i }}{% if not forloop.last %}; {% endif %}{% endfor %}</dd>
			{% if item_data.doi %}<dt class="metadata">DOI</dt><dd>{{ item_data.doi.0 }}</dd>{% endif %}
			<dt class="metadata">URI/DOI</dt><dd>{{ item_data.uri.0|slice:'22:' }}</dd>
			<dt class="metadata">PDF</dt><dd><a href="{{ https_bitstream }}">{{ pdf_filename }}</a></dd>
			<dt class="metadata">Citation</dt><dd>{{ item_data.citation.0 }}</dd>
			<dt class="metadata">Record Details</dt><dd><a href="{% url 'item_full' object.pk %}">Full Record</a></dd>
		</dl>		
	</div>
	<div class="col-md-9">
		<iframe width="100%" height="1200px" src="{{ https_bitstream }}" style="background-color: #fff"></iframe>	
	</div>
</div>		
{% endblock content %}
