<!-- repository_detail.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Repositories{% endblock page_title %}

{% block content %}

	{% if messages %}
	    {% for message in messages %}
	    <h5{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
	    {% endfor %}
	{% endif %}

	<h2> {{ object.name }}
		<small><a href="{% url 'oai_community_add' object.id %}">add a set</a></small>
	</h2>
	<h3><small>{{ object.base_url }}</small></h3>

	{% for i in communities %}		
		<h3>
			<a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
			<small> {{ i.identifier }} </small>
			<small>
				<small><a href="{% url 'oai_community_edit' i.identifier %}">edit</a></small>
				<small><a href="{% url 'oai_community_delete' i.identifier %}">remove</a></small>
			</small>
		</h3>
		{% for j in i.list_collections %}
			<h5>
				<small><a href="{% url 'oai_collection_edit' j.identifier %}">edit</a></small>
				<small><a href="{% url 'oai_collection_delete' j.identifier %}">remove</a></small>
				<small><a href="{% url 'oai_harvest_collection' j.identifier %}">manage</a></small>
				{{ j.name }}
				<small> {{ j.identifier }} </small>
			</h5>
		{% endfor %}
	{% endfor %}

{% endblock content %}